<p id="notice"><%= notice %></p>
<div class="text-center">
<p>
  <strong>Date:</strong>
  <%= @statement.date %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @statement.reason %>
</p>

<p>
  <strong>Nb km:</strong>
  <%= @statement.nb_km %>
</p>

<p>
  <strong>Taxe coef:</strong>
  <%= @statement.taxe_coef %>
</p>

<p>
  <strong>Ride:</strong>
  <%= @statement.ride %>
</p>

<p>
  <strong>Start:</strong>
  <%= @statement.start %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @statement.arrival %>
</p>

<p>
  <strong>User:</strong>
  <%= @statement.user_id %>
</p>

<%= link_to 'Edit', edit_statement_path(@statement) %> |
<%= link_to 'Back', statements_path %>
</div>
