<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation" style="padding-bottom: 13px; border-radius: 0;">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="">
    <%= image_tag "popschool.svg", :style => "width: 35%" %>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="margin-top: 13px;">
        <li>
        <a href="/">Accueil <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Listing trajets <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Statistiques <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
      </li>
      <li>
        <a href="/statements">Carte <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></a>
      </li>
      <% unless current_user %>
      <li>
        <a href="/users/sign_in">Connexion <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
      </li>
      <% else %>
      
      <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon Profil <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Mes Trajets</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Modifier</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Paramètres</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Déconnexion</a></li>
          </ul>
        </li>
        <li>
        <a style="text-decoration: none; color: #777777;">Bienvenue <%= current_user.email %>
        </a>
        </li>
        <li>
        <a href="#">Déconnexion <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
      </li>
      </ul>
    </div>
</div>
</nav>
<br>
